.maincontainer
{
    right: 0;
    background-color: #74B14E;
    width: 60%;
    padding: 10px;
    height: auto;
    margin-left: auto;
}
.header
{
    background-color: white;
   color:#C21807;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   border-radius: 4px;
   
   width: 96%;
}
 table
{
    color: #FFFFFF;
    font-size: 15px;
    font-family: Georgia;
    font-weight: bold;
    border-spacing: 2px;
    width: 97%;
    padding: 5px;
}
td
{
    border: 1px solid white;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #6698FF;
    border-spacing: 5px;
}
fieldset{
    border-radius: 5px;
}
#travel
{
    color: darkred;
}
#personal
{
    color: darkred;
}
#preferances
{
    color: darkred;  
}
#destinations
{
    width: 100%;
}
#dateofdeparture
{
    width: 100%;
}
#dateofarrival
{
    width: 100%;
}
#kids
{
    width: 100%;
}
#teens
{
    width: 100%;
}
#adults
{
    width: 100%;
}